/*
 * @Script: admin-layout.module.css
 * @Author: Eamon Heffernan
 * @Email: eamonrheffernan@gmail.com
 * @Created At: 2021-07-26 17:13:50
 * @Last Modified By: Eamon Heffernan
 * @Last Modified At: 2021-08-01 18:04:11
 * @Description: Styling for admin layout.
 */

.background {
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main-container {
	height: 100%;
	width: 96%;
	margin: 2%;
	background-color: gray;
}

.header {
	background-color: rgba(255, 255, 255, 0.5);
	min-height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.header-items {
	margin: 1%;
}
