/*
 * @Script: base-layout.module.css
 * @Author: Eamon Heffernan
 * @Email: eamonrheffernan@gmail.com
 * @Created At: 2021-07-26 17:13:50
 * @Last Modified By: Eamon Heffernan
 * @Last Modified At: 2021-08-01 14:43:37
 * @Description: Styling for admin layout.
 */

.background {
	background-color: pink;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main-container {
	height: 100%;
	width: 96%;
	margin: 2%;
	background-color: gray;
}

.header {
	background-color: rgb(91, 255, 206);
	min-height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.header-items {
	margin: 1%;
}
