.main-container {
	background-color: pink;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	background-color: rgb(91, 255, 206);
	height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.header-items {
	margin: 1%;
}
