/*
 * @Script: change-requests-layout.module.css
 * @Author: Eamon Heffernan
 * @Email: eamonrheffernan@gmail.com
 * @Created At: 2021-08-01 06:55:55
 * @Last Modified By: Eamon Heffernan
 * @Last Modified At: 2021-08-01 14:35:48
 * @Description: Page to view a single change request
 */

.base-container {
	background-color: white;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.title {
	font-size: xx-large;
	margin: 5%;
}

.grid-container {
	width: 50%;
	display: grid;
	grid-template-columns: auto;
}
.grid-container:nth-child(odd) {
	background-color: grey;
}

.grid-container:nth-child(even) {
	background-color: greenyellow;
}

.grid-item {
	cursor: pointer;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-box {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.day-container {
	background-color: blue;
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.button-container {
	margin-top: 5%;
	height: 10%;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.button-accept {
	cursor: pointer;
	background-color: green;
	width: 30%;
	height: 60%;
	margin: 5%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.button-deny {
	cursor: pointer;
	background-color: red;
	width: 30%;
	height: 60%;
	margin: 5%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
