/*
 * @Script: global.css
 * @Author: Eamon Heffernan
 * @Email: eamonrheffernan@gmail.com
 * @Created At: 2021-07-19 17:52:54
 * @Last Modified By: Eamon Heffernan
 * @Last Modified At: 2021-08-01 14:24:02
 * @Description: Global css, applies to everything.
 */

html,
body {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	user-select: none;
}
main {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	font-family: "Calibri", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
		sans-serif;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

.no-margin {
	margin: 0;
}
