/*
 * @Script: staff.module.css
 * @Author: Eamon Heffernan
 * @Email: eamonrheffernan@gmail.com
 * @Created At: 2021-08-01 08:27:06
 * @Last Modified By: Eamon Heffernan
 * @Last Modified At: 2021-08-01 14:37:16
 * @Description: Styling for admin staff page.
 */

.container {
	margin: 2%;
	width: 96%;
	height: 100%;
	user-select: text;
	overflow-y: auto;
	display: flex;
	justify-content: stretch;
}

.sidebar {
	margin-left: 1%;
	width: 40%;
	height: 100%;
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	align-items: flex-start;
	text-align: center;
}

.sidebar-item {
	align-self: center;
	background-color: darkblue;
	border: 2px solid black;
	padding-top: 0.5%;
	width: 50%;
	height: 5%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	font-size: large;
	color: white;
	font-weight: bold;
}
